.header, .sidebar--header {
    height: 54px;
}

.dropdown-menu {
    .dropdown-item {
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            max-width: calc(100% - #{$dropdown-item-bottom-border-width});
        }
        &:not(a:last-child) {
            &::after {
                background-color: $dropdown-item-bottom-border-color;
            }
        }

        .shortcut {
            font-size: .7rem;
            color: $dropdown-item-shortcut-color;
            position: absolute;
            right: $dropdown-item-padding-x;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            height: 19px;
        }

        &.active, &:active {
            background-image: $dropdown-link-active-bg-image;

            .shortcut {
                color: $dropdown-item-shortcut-active-color;
            }
        }

        &:hover, &:focus {
            background-image: $dropdown-link-hover-bg-image;

            .shortcut {
                color: $dropdown-item-shortcut-hover-color;
            }
        }

        &.active, &:active, &:hover, &:focus {
            &::after {
                background-color: transparent;
            }
        }
    }
}

.search {
    .input-group-text, .search--input  {
        background-color: transparent;
        border-color: transparent;
        color: #fff;
    }
    .input-group-prepend {
        margin-right: -24px;
        z-index: 1;
        .input-group-text {
            padding-left: 0;
            padding-right: 0;
            color: #6c7577;
        }
    }
    .search--input {
        min-width: 370px;
        padding-left: calc(.75rem + 17px);
        z-index: 2;

        @media screen and (max-width: 960px) {
            min-width: 295px;
        }

        @media screen and (max-width: 834px) {
            min-width: 100%;
        }
    }
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: $white;

    .dropdown {
        button {
            color: $white;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }

    .profile--avatar {
        margin-left: 4px;
        border-radius: 50%;
        background-color: $white;
        width: 40px;
        height: 40px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}