.sidebar {
    position: relative;
    top: 0;
    bottom: 0;
    max-width: 260px;
    width: 100%;
    height: 100vh;
    background-color: $sidebar-background-color;
    color: $sidebar-foreground-color;

    @media screen and (max-width: 1050px) {
        max-width: 230px;
    }

    @media screen and (max-width: 960px) {
        max-width: 200px;
    }

    @media screen and (max-width: 834px) {
        max-width: 0;
    }

    &.sidebar-left {
        left: 0;
    }

    .sidebar--wrapper {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        display: flex;
        flex-direction: column;
    }

    .sidebar--header {
        width: 100%;
        padding: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        .sidebar--brand-text {
            text-align: center;
            h1 {
                font-size: 1.3rem;
                margin-bottom: 0;
            }
        }
    }

    .sidebar--content {
        &, .sidebar--menu {
            width: 100%;
        }

        .sidebar--menu {
            ul {
                list-style: none;
                text-decoration: none;
                margin-bottom: 0;
                padding: 0;
            }

            .sidebar--menu-item {
                a {
                    display: block;
                    position: relative;
                    padding: 1rem;
                    padding-left: 1.6rem;
                    text-decoration: none;
                    color: $sidebar-links-color;

                    .item-icon {
                        @extend .fa-lg;
                        margin-right: 5px;
                    }

                    &:before {
                        content: "";
                        width: 5px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        transition: all .5s;
                    }
                }

                &:not(:last-child) {
                    a {
                        border-bottom: 1px solid $sidebar-menu-item-border-bottom-color;
                    }
                }

                &.item-active a, & a:hover, & a:focus {
                    &:before {
                        background-color: $sidebar-menu-item-selector-background-color;
                        transition: all .5s;
                    }
                }
            }
        }
    }

    .sidebar--footer {
        margin-top: auto;
        padding-bottom: 1rem;
        text-align: center;

        p {
            color: $nobel;
            margin: 0;
        }

        a {
            color: $nobel;
            font-size: .8rem;
        }
    }
}