@font-face {
	font-family: 'Raleway';
	src:url('../../fonts/raleway/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src:url('../../fonts/raleway/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}