@import 'spec/settings/index';
@import 'spec/tools/index';
@import "~bootstrap/scss/bootstrap";
@import 'spec/index';
@import 'vendor/index';
@import '~offline-js/sass/offline-language-spanish';
//@import "~offline-js/sass/offline-theme-chrome-indicator";
@import '~offline-js/sass/offline-theme-chrome';

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}

.sidebar-logo {
  .logo {
    width: 70px;
    max-height: 67px;
    text-align: center;

    img {
      width: auto;
      height: 100%;
      max-height: 67px;
    }
  }
}

.sidebar-menu {
  & > li.dropdown {
    /*a {
      .arrow {
        i {
          display: inline-block;
          transform: rotate(0deg);
          transition: all .2s;
        }
      }
    }
    &.show {
      a {
        .arrow {
          i {
            transform: rotate(90deg);
            transition: all .2s;
          }
        }
      }
    }*/
    ul.dropdown-menu {
      position: relative !important;
      transform: translate(0) !important;
    }
  }
}

.banner-message {
    text-align: center;
    color: #868686;
    padding: 2rem;
  
    [class^="ti-"] {
      font-size: 5rem;
    }
}

.sigec__dropzone {
  width: 100%;
  border: 5px dotted #ddd;
  height: auto;
  min-height: 200px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;

  .dz-message {
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 1.8rem;
  }

  &.dz-started {
    .dz-message {
      display: none;
    }
  }

  .dz-preview {
    width: 100%;
    max-width: 170px;
    height: auto;
    flex: 1 1 170px;
    border: 1px solid #efefef;
    padding: 10px;

    &:not(:nth-child(n+7)) {
      margin-right: 15px;
    }

    .dz-image {
      width: 100%;
      height: 100px;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }

    .dz-details {
      .dz-filename {
        font-weight: 300;
      }
    }

    .dz-progress {
      width: 100%;
      height: auto;
      margin: 6px 0;
      .dz-upload {
        width: 0;
        height: 6px;
        background-color: #2adb4be6;
        display: block;
        border-radius: 8px;
      }
    }

    &.dz-error .dz-progress .dz-upload {
      background-color: #ff3e3e !important;
    }

    //.dz-error-message {
      //display: none;
    //}

    .dz-success-mark, .dz-error-mark {
      width: 54px;
      height: 54px;
      display: none;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .dz-remove {
      color: red;
    }
  }
}

#age {
  pointer-events: none;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.sticky-footer {
  position: sticky;
  bottom: 0;
  margin-top: 2rem;
}

.profile-list-info, .profile-list-description, .profile-list-todo {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px dotted transparent;

      &:hover, &:focus {
        border-bottom-color: rgb(177, 177, 177);
      }
    }
  }
}

.bbt {
  border-bottom: 2px solid rgb(206, 206, 206);
  padding-bottom: 10px;
  margin-bottom: 1rem;
  margin-top: .5rem;
}

.profile-list-info {
  ul {
    columns: 3;
    column-gap: 30px;

    li {
      flex: 1 1 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-align: right;
      
      strong {
        margin-right: 15px;
        text-align: left;
      }
    }
  }

  &.two-columns {
    ul {
      columns: 2;
    }
  }
}

.profile-list-description {
  ul {
    li {
      margin-left: 15px;

      strong {
        display: block;
        margin-left: -15px;
      }
    }
  }
}

.patient-options {
  position: sticky;
  top: 80px;
}

.new-button {
  .dropdown-toggle {
    color: #fff !important;
    border-radius: 0;
  }
}

.report, .study {
  padding: 15px;
  position: relative;
  height: 100%;

  h3 {
    font-size: 1rem;
    word-break: break-all;
    font-weight: 700;
  }

  a:not(.delete-study) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.study {
  img {
    margin: 0 auto 15px;
    display: block;
    width: auto;
    max-height: 64px;
    height: 100%;
  }

  h3 {
    height: 45px;
    overflow: hidden;
  }

  .delete-study {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    transition: all .2s;
  }

  &:hover {
    .delete-study {
      opacity: 1;
      transition: all .2s;
    }
  }
}

.remove-container {
  width: 100%;
  height: auto;
  padding: 50px;
  text-align: center;
  margin: 20px;
  border: 4px dashed #ff3e3e;
  background-color: rgba(255, 62, 62, 0.233);
}

.autocomplete-suggestions {
  .autocomplete-suggestion {
    a {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.appointments-list {
  max-height: 634px;
  overflow-y: scroll;
  &:not(.initialized) {
    //text-align: center;

    .fa-spinner {
      margin-right: 1rem;
    }
  }

  .peers {
    &.content {
      max-width: 380px;
      width: 100%;
    }
    .peer {
      &.description {
        max-width: 100%;
        max-height: 63px;
        overflow: hidden;
      }
    }
  }

  .not-appointments {
    padding: 1rem;
    text-align: center;
    width: 100%;

    button {
      display: block;
      margin: 0 auto;
      margin-top: 1rem;
    }
  }
}

.appointment-inputs-list {
  list-style: none;
}

.swal-text {
  text-align: center;
}

#option_office_logo_preview, #option_office_brand_preview {
  max-width: 100%;
  width: auto;
  max-height: 166px;
  height: auto;
}

.h348 {
  min-height: 348px;
}

label > span, span.cred {
  color: #ff3e3e;
}


@keyframes progress-circle {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(365deg);
  }
}

.saved-info {
  float: right;
  margin: 1px 10px 0 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  #local-save {
    width: 30px;
    height: 30px;
    transition: all .4s;
    #a {
      transform-box: view-box;
      transform-origin: 50% 60%;
      transform-style: preserve-3d;
      animation-timing-function: cubic-bezier(.55,.09,.68,.53);
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }

  &.no-saved {
    #local-save {
      fill: #ccc;
    }
  }

  &.saved {
    #local-save {
      fill: #3399FF;
      #a {
        animation-name: progress-circle;
      }
    }
  }
}