.container-no-padding {
    padding: 0;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .content {
        width: 100%;
    }
}